<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotificationSystem.Properties.EndarProcessorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NotificationSystem.Properties.EndarProcessorSettings>
            <setting name="TimeSpan" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>EnDAR@tetratech.com</value>
            </setting>
            <setting name="UseInstallPathForLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRecipient" serializeAs="String">
                <value>kateryna.sayenko@tetratech.com</value>
            </setting>
            <setting name="IsBodyHtml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsNetworkCredential" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>Domain</value>
            </setting>
            <setting name="TimeoutCallBack" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTPUser" serializeAs="String">
                <value>ksayenko@gmail.com</value>
            </setting>
            <setting name="IsEnableSSl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Users\kateryna.sayenko\Documents\Visual Studio 2012\Projects\NotificationSystem\NotificationSystem\bin\Release\LOGS</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>nizekzutmppluzaf</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="Write_to_System_Table" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SystemSectionName" serializeAs="String">
                <value>EndarNotification</value>
            </setting>
            <setting name="SystemSectionInfo1" serializeAs="String">
                <value>LastRun</value>
            </setting>
            <setting name="SystemSectionInfo2" serializeAs="String">
                <value>LastEmailSend</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>EnDARDatabaseNotificationService</value>
            </setting>
            <setting name="Send_Time_Seconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Data_Source" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DIVS704SQL1\MSSQLPUBLIC</string>
                        <string>DIVS704SQL1\MSSQLPUBLIC</string>
                        <string>DIVS704SQL1\MSSQLPUBLIC</string>
                        <string>DIVS704SQL1\MSSQLPUBLIC</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="InitialCatalog" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ENDAR</string>
                        <string>ENDAR_CIMP</string>
                        <string>ENDAR_Ghent</string>
                        <string>ENDAR_Ghent</string>
                        <string>ENDAR_CCWQP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DatabasePassword" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NotificationUser01</string>
                        <string>NotificationUser01</string>
                        <string>NotificationUser01</string>
                        <string>NotificationUser01</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DatabaseUser" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NotificationUser</string>
                        <string>NotificationUser</string>
                        <string>NotificationUser</string>
                        <string>NotificationUser</string>
                    </ArrayOfString>
                </value>
            </setting>
        </NotificationSystem.Properties.EndarProcessorSettings>
    </userSettings>
</configuration>